In [6]:
# IMPORT NECESSARY LIBRARIES AND DATA
import pandas as pd
import numpy as np
import os

# Import the entire review JSON file
review_file_path = 'yelp_academic_dataset_review.json'
review_df = pd.read_json(review_file_path, lines=True)
print(f"Successfully imported the entire review file with shape: {review_df.shape}")

# Print the size of the review file
review_file_size = os.path.getsize(review_file_path)
print(f"Size of the review file: {review_file_size} bytes")

# Import the business JSON file
business_file_path = 'yelp_academic_dataset_business.json'
business_df = pd.read_json(business_file_path, lines=True)
print(f"Successfully imported the entire business file with shape: {business_df.shape}")

# Print the size of the business file
business_file_size = os.path.getsize(business_file_path)
print(f"Size of the business file: {business_file_size} bytes")

# Import the tips JSON file
tip_file_path = 'yelp_academic_dataset_tip.json'
tip_df = pd.read_json(tip_file_path, lines=True)
print(f"Successfully imported the entire tip file with shape: {tip_df.shape}")

# Print the size of the tips file
tip_file_size = os.path.getsize(tip_file_path)
print(f"Size of the tip file: {tip_file_size} bytes")

# Import the user JSON file
user_file_path = 'yelp_academic_dataset_user.json'
user_df = pd.read_json(user_file_path, lines=True)
print(f"Successfully imported the entire user file with shape: {user_df.shape}")

# Print the size of the user file
user_file_size = os.path.getsize(user_file_path)
print(f"Size of the user file: {user_file_size} bytes")

# Import the checkin JSON file
checkin_file_path = 'yelp_academic_dataset_checkin.json'
checkin_df = pd.read_json(checkin_file_path, lines=True)
print(f"Successfully imported the entire checkin file with shape: {checkin_df.shape}")

# Print the size of the checkin file
checkin_file_size = os.path.getsize(checkin_file_path)
print(f"Size of the checkin file: {checkin_file_size} bytes")

Successfully imported the entire review file with shape: (6990280, 9)
Size of the review file: 5341868833 bytes
Successfully imported the entire business file with shape: (150346, 14)
Size of the business file: 118863795 bytes
Successfully imported the entire tip file with shape: (908915, 5)
Size of the tip file: 180604475 bytes
Successfully imported the entire user file with shape: (1987897, 22)
Size of the user file: 3363329011 bytes
Successfully imported the entire checkin file with shape: (131930, 2)
Size of the checkin file: 286958945 bytes

In [7]:
review_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [10]:
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [11]:
tip_df.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [12]:
checkin_df.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [13]:
user_df.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [14]:
# Total number of businesses in Philadelphia

philly_busi = business_df[business_df['city']=='Philadelphia']
print(f"Number of businesses in Philadelphia: {philly_busi.shape[0]}")

# Categories of businesses in Philadelphia
philly_busi_cat = philly_busi['categories'].explode().value_counts()
print("Top 30 business categories in Philadelphia:")
print(philly_busi_cat.head(30))

Number of businesses in Philadelphia: 14569
Top 30 business categories in Philadelphia:
categories
Restaurants, Pizza                           154
Pizza, Restaurants                           124
Restaurants, Chinese                          89
Nail Salons, Beauty & Spas                    86
Chinese, Restaurants                          84
Beauty & Spas, Hair Salons                    80
Beauty & Spas, Nail Salons                    79
Hair Salons, Beauty & Spas                    79
Coffee & Tea, Food                            50
Food, Coffee & Tea                            50
Restaurants, Italian                          43
Restaurants, Mexican                          42
Mexican, Restaurants                          39
Italian, Restaurants                          39
Food, Grocery                                 37
Restaurants, American (New)                   36
American (New), Restaurants                   34
Auto Repair, Automotive                       33
Food, Beer, Wine & Spirits                    33
Automotive, Auto Repair                       31
Banks & Credit Unions, Financial Services     30
Grocery, Food                                 28
Barbers, Beauty & Spas                        28
Beer, Wine & Spirits, Food                    27
Automotive, Parking                           25
Parking, Automotive                           25
Restaurants, Vietnamese                       24
Restaurants                                   23
Food, Ice Cream & Frozen Yogurt               22
Breakfast & Brunch, Restaurants               22
Name: count, dtype: int64

In [15]:
# Create a subset of business categories related to food

# Food related categories
food_cats = ['Restaurants', 'Food', 'Pizza', 'Burgers', 'Sandwiches', 'Coffee', 'Tea', 
    'Bakeries', 'Desserts', 'Ice Cream', 'Ice Cream & Frozen Yogurt', 'Cafes', 'Fast Food',
    'Pubs', 'Breweries', 'Wineries', 'Caterers', 'Beer', 'Wine & Spirits', 'Food Trucks', 
    'Coffee & Tea', 'Mexican', 'Bistros', 'Buffets', 'Cajun/Creole', 'Caribbean', 'French',
    'German', 'Irish', 'Mediterranean', 'Middle Eastern', 'Salad', 'Seafood', 'Steakhouses', 
    'Sushi Bars', 'Tapas Bars', 'Vegetarian', 'Vegan', 'Breakfast & Brunch', 'Gluten-Free', 
    'Halal', 'Kosher', 'Korean', 'Japanese', 'Chinese', 'Thai', 'Indian', 'Vietnamese',
    'African', 'Turkish', 'Russian', 'Spanish', 'Portuguese', 'British', 'Eastern European', 
    'Latin American', 'Argentine', 'Brazilian', 'Peruvian', 'Fried Chicken', 'Hot Dogs', 
    'Juice Bars & Smoothies', 'Ramen', 'Noodles', 'Dim Sum', 'Belgian', 'Cuban', 'Ethiopian', 
    'Lebanese', 'Moroccan', 'Pakistani', 'Sri Lankan', 'Afghan', 'Cambodian', 'Indonesian', 
    'Malaysian', 'Mongolian', 'Colombian', 'Nepalese', 'Singaporean', 'Somali', 'Taiwanese', 
    'Tibetan', 'Uzbek', 'Yemeni', 'American (Traditional)', 'American (New)', 'Barbecue', 
    'Delis', 'Diners', 'Gastropubs', 'Italian', 'Greek', 'American', 'Bars', 'Bagels', 
    'Soup', 'Juice Bars', 'Smoothies', 'Donuts', 'Chicken Wings', 'BBQ', 'Barbeque', 'Sushi', 
    'Wine Bars', 'Cocktail Bars', 'Specialty Food', 'Ethnic Food', 'Asian Fusion', 'Filipino']

# Function to check if business has food-related categories
def is_food_related(categories):
    if pd.isna(categories):  # Handle missing values
        return False
    
    # Split categories into individual items and check each one
    cat_list = [cat.strip() for cat in str(categories).split(',')]
    return any(keyword.lower() in cat.lower() for cat in cat_list for keyword in food_cats)

# Filter Philadelphia businesses to food-related only
philly_food = philly_busi[philly_busi['categories'].apply(is_food_related)]

print(f"Total Philadelphia businesses: {philly_busi.shape[0]}")
print(f"Food-related businesses: {philly_food.shape[0]}")
print(f"Percentage: {(philly_food.shape[0] / philly_busi.shape[0]) * 100:.1f}%")

# Total number of businesses that are food-related
print(f"Number of food-related businesses in Philadelphia: {philly_food.shape[0]}")

# Split categories into individual items for counting
philly_food_cats = philly_food['categories'].str.split(', ').explode().str.strip()

# Check the top categories in filtered dataset
print("\nTop 30 food related categories in Philadelphia:")
print(philly_food_cats.value_counts().head(30))

Total Philadelphia businesses: 14569
Food-related businesses: 7501
Percentage: 51.5%
Number of food-related businesses in Philadelphia: 7501

Top 30 food related categories in Philadelphia:
categories
Restaurants                  5852
Food                         3105
Nightlife                    1366
Bars                         1293
Sandwiches                    929
Coffee & Tea                  894
Pizza                         800
American (New)                751
Breakfast & Brunch            686
American (Traditional)        663
Italian                       505
Specialty Food                482
Chinese                       471
Event Planning & Services     452
Bakeries                      373
Fast Food                     367
Burgers                       363
Seafood                       359
Desserts                      344
Grocery                       329
Shopping                      325
Cafes                         323
Mexican                       315
Delis                         308
Caterers                      294
Salad                         280
Wine & Spirits                257
Beer                          257
Chicken Wings                 240
Japanese                      237
Name: count, dtype: int64

In [ ]:
# Philadelphia food businesses
print(f"Philadelphia food businesses: {philly_food.shape[0]:,}")

# Filter reviews to match Philadelphia food business IDs
philly_food_ids = philly_food['business_id'].unique()
philly_food_reviews = review_df[review_df['business_id'].isin(philly_food_ids)]
print(f"Matching reviews: {philly_food_reviews.shape[0]:,}")

# Filter tips to match Philadelphia food business IDs (only keeping business_id and text)
philly_food_tips = tip_df[tip_df['business_id'].isin(philly_food_ids)][['business_id', 'text']]
print(f"Matching tips: {philly_food_tips.shape[0]:,}")

# Filter checkins to match Philadelphia food business IDs (only keeping business_id and date)
philly_food_checkins = checkin_df[checkin_df['business_id'].isin(philly_food_ids)][['business_id', 'date']]
print(f"Matching checkins: {philly_food_checkins.shape[0]:,}")

# Filter users to match those who wrote reviews for Philadelphia food businesses
philly_user_ids = philly_food_reviews['user_id'].unique()
philly_food_users = user_df[user_df['user_id'].isin(philly_user_ids)]
print(f"Matching users: {philly_food_users.shape[0]:,}")

# Merge reviews with businesses
philly_combined = philly_food_reviews.merge(
    philly_food,
    on='business_id',
    how='left',
    suffixes=('_review', '_business')
)
print(f"\nAfter merging reviews + businesses: {philly_combined.shape}")

# Aggregate tips per business to avoid cartesian product
philly_food_tips = philly_food_tips.rename(columns={'text': 'tip_text'})
tips_aggregated = philly_food_tips.groupby('business_id').agg({
    'tip_text': lambda x: ' | '.join(x.dropna())
}).reset_index()
tips_aggregated['tip_count'] = philly_food_tips.groupby('business_id').size().values

# Merge tips
philly_combined = philly_combined.merge(
    tips_aggregated,
    on='business_id',
    how='left'
)
print(f"After merging tips: {philly_combined.shape}")

# Aggregate checkins per business
philly_food_checkins = philly_food_checkins.rename(columns={'date': 'checkin_dates'})
checkins_aggregated = philly_food_checkins.groupby('business_id').agg({
    'checkin_dates': lambda x: ' | '.join(x.dropna())
}).reset_index()
checkins_aggregated['checkin_count'] = philly_food_checkins.groupby('business_id').size().values

# Merge checkins
philly_combined = philly_combined.merge(
    checkins_aggregated,
    on='business_id',
    how='left'
)
print(f"After merging checkins: {philly_combined.shape}")

# Merge users with reviews
philly_final = philly_combined.merge(
    philly_food_users,
    on='user_id',
    how='left',
    suffixes=('', '_user')
)
print(f"\nFinal dataset: {philly_final.shape}")
print(f"\nFinal dataset columns: {philly_final.columns.tolist()}")
print(f"\nSample of data:")
print(philly_final[['business_id', 'name', 'user_id', 'tip_text', 'tip_count', 'checkin_count']].head())

Philadelphia food businesses: 7,501
Matching reviews: 760,063
Matching tips: 98,467
Matching checkins: 7,236
Matching users: 221,578

After merging reviews + businesses: (760063, 22)
After merging tips: (760063, 24)
After merging checkins: (760063, 26)

✅ Final dataset: (760063, 47)

Final dataset columns: ['review_id', 'user_id', 'business_id', 'stars_review', 'useful', 'funny', 'cool', 'text', 'date', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars_business', 'review_count', 'is_open', 'attributes', 'categories', 'hours', 'tip_text', 'tip_count', 'checkin_dates', 'checkin_count', 'name_user', 'review_count_user', 'yelping_since', 'useful_user', 'funny_user', 'cool_user', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']

Sample of data:
              business_id               name                 user_id  \
0  kxX2SOes4o-D3ZQBkiMRfA              Zaika  _7bHUi9Uuf5__HHc_Q8guQ
1  04UD14gamNjLY0IDYVhHJg           Dmitri's  eUta8W_HdHMXPzLBBZhL1A
2  RZtGWDLCAtuipwaZ-UfjmQ          LaScala's  smOvOajNG0lS4Pq7d8g4JQ
3  YtSqYv1Q_pOltsVPSx54SA  Rittenhouse Grill  Dd1jQj7S-BFGqRbApFzCFw
4  eFvzHawVJofxSnD7TgbZtg    Good Karma Cafe  IQsF3Rc6IgCzjVV9DE8KXg

                                            tip_text  tip_count  checkin_count
0  He got our order wrong, waiting "10-15" more m...       29.0            1.0
1  Birthday :) | Order many apps as a meal. Soo m...       28.0            1.0
2  Sirloin Bruschetta Appetizer..1 of my favorite...       50.0            1.0
3  Love the bar!! Great bartenders! Amazing servi...       31.0            1.0
4  Great ambiance for working or chatting w a fri...       60.0            1.0

In [18]:
philly_final.head()

,review_id,user_id,business_id,stars_review,useful,funny,cool,text,date,name,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Zaika,...,1,0,0,0,0,0,0,0,0,0
1,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31,Dmitri's,...,0,0,0,0,1,0,0,0,0,0
2,8JFGBuHMoiNDyfcxuWNtrA,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,0,0,0,Good food--loved the gnocchi with marinara\nth...,2009-10-14 19:57:14,LaScala's,...,0,0,1,0,3,2,1,1,0,0
3,oyaMhzBSwfGgemSGuZCdwQ,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5,0,0,0,Tremendous service (Big shout out to Douglas) ...,2013-06-24 11:21:25,Rittenhouse Grill,...,0,0,0,0,0,0,0,0,1,0
4,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5,0,0,0,My absolute favorite cafe in the city. Their b...,2014-11-12 15:30:27,Good Karma Cafe,...,0,0,0,0,3,4,4,4,0,0

In [ ]:
# If columns want to be dropped:

'''

# Define columns to drop
columns_to_drop = [
    'latitude',
    'longitude',
    'postal_code',
    'is_open',
    'attributes',
    'hours'
]

# Drop the columns
philly_final_clean = philly_final.drop(columns=columns_to_drop)

print(f"Original columns: {philly_final.shape[1]}")
print(f"After dropping: {philly_final_clean.shape[1]}")
print(f"\nRemaining columns:")
print(philly_final_clean.columns.tolist())

# Check the cleaned data
print(f"\nCleaned dataset shape: {philly_final_clean.shape}")
philly_final_clean.head()

'''

Original columns: 47

'print(f"After dropping: {philly_final_clean.shape[1]}")\nprint(f"\nRemaining columns:")\nprint(philly_final_clean.columns.tolist())\n\n# Check the cleaned data\nprint(f"\nCleaned dataset shape: {philly_final_clean.shape}")\nphilly_final_clean.head()'

In [20]:
philly_final.head()

,review_id,user_id,business_id,stars_review,useful,funny,cool,text,date,name,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Zaika,...,1,0,0,0,0,0,0,0,0,0
1,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31,Dmitri's,...,0,0,0,0,1,0,0,0,0,0
2,8JFGBuHMoiNDyfcxuWNtrA,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,0,0,0,Good food--loved the gnocchi with marinara\nth...,2009-10-14 19:57:14,LaScala's,...,0,0,1,0,3,2,1,1,0,0
3,oyaMhzBSwfGgemSGuZCdwQ,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5,0,0,0,Tremendous service (Big shout out to Douglas) ...,2013-06-24 11:21:25,Rittenhouse Grill,...,0,0,0,0,0,0,0,0,1,0
4,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5,0,0,0,My absolute favorite cafe in the city. Their b...,2014-11-12 15:30:27,Good Karma Cafe,...,0,0,0,0,3,4,4,4,0,0

In [21]:
# Save the final dataset
philly_final.to_csv('philly_food_combined_final.csv', index=False)

print(f"Saved dataset with {philly_final.shape[0]:,} rows and {philly_final.shape[1]} columns")
print(f"File saved as: philly_food_final.csv")

# Check the file size
import os
file_size = os.path.getsize('philly_food_combined_final.csv')
print(f"File size: {file_size / (1024**2):.2f} MB")

Saved dataset with 760,063 rows and 47 columns
File saved as: philly_food_final.csv
File size: 25090.01 MB

In [1]:
# Importing the Dataset

# IMPORT NECESSARY LIBRARIES AND DATA
import pandas as pd
import numpy as np
import os

philly_import = pd.read_csv('philly_food_combined_final.csv')
print(f"Loaded {philly_import.shape[0]:,} rows")

Loaded 760,063 rows

In [2]:
philly_import.head()

,review_id,user_id,business_id,stars_review,useful,funny,cool,text,date,name,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Zaika,...,1,0,0,0,0,0,0,0,0,0
1,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31,Dmitri's,...,0,0,0,0,1,0,0,0,0,0
2,8JFGBuHMoiNDyfcxuWNtrA,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,0,0,0,Good food--loved the gnocchi with marinara\nth...,2009-10-14 19:57:14,LaScala's,...,0,0,1,0,3,2,1,1,0,0
3,oyaMhzBSwfGgemSGuZCdwQ,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5,0,0,0,Tremendous service (Big shout out to Douglas) ...,2013-06-24 11:21:25,Rittenhouse Grill,...,0,0,0,0,0,0,0,0,1,0
4,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5,0,0,0,My absolute favorite cafe in the city. Their b...,2014-11-12 15:30:27,Good Karma Cafe,...,0,0,0,0,3,4,4,4,0,0

In [24]:
# Sort by business name alphabetically
philly_final_sorted = philly_import.sort_values(by='name')

# Result
print(philly_final_sorted[['business_id', 'name', 'categories']].head(30))

                   business_id                  name  \
602471  3zEedfqHtCrQEUsmPsDNsA  $5 Fresh Burger Stop
602359  3zEedfqHtCrQEUsmPsDNsA  $5 Fresh Burger Stop
597822  3zEedfqHtCrQEUsmPsDNsA  $5 Fresh Burger Stop
593748  3zEedfqHtCrQEUsmPsDNsA  $5 Fresh Burger Stop
593973  3zEedfqHtCrQEUsmPsDNsA  $5 Fresh Burger Stop
436782  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
433429  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
427863  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
442555  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
433279  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
435855  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
431075  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
433162  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
451684  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
450081  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
452785  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
435992  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
443286  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
428467  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
428500  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
432824  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
443280  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
433671  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
391190  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
433754  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
434912  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
426684  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
441089  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
453299  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn
435040  k_43W3zbbEuvYuLZviSJKA        &pizza - UPenn

                                   categories
602471      Restaurants, Food Stands, Burmese
602359      Restaurants, Food Stands, Burmese
597822      Restaurants, Food Stands, Burmese
593748      Restaurants, Food Stands, Burmese
593973      Restaurants, Food Stands, Burmese
436782  Vegetarian, Vegan, Restaurants, Pizza
433429  Vegetarian, Vegan, Restaurants, Pizza
427863  Vegetarian, Vegan, Restaurants, Pizza
442555  Vegetarian, Vegan, Restaurants, Pizza
433279  Vegetarian, Vegan, Restaurants, Pizza
435855  Vegetarian, Vegan, Restaurants, Pizza
431075  Vegetarian, Vegan, Restaurants, Pizza
433162  Vegetarian, Vegan, Restaurants, Pizza
451684  Vegetarian, Vegan, Restaurants, Pizza
450081  Vegetarian, Vegan, Restaurants, Pizza
452785  Vegetarian, Vegan, Restaurants, Pizza
435992  Vegetarian, Vegan, Restaurants, Pizza
443286  Vegetarian, Vegan, Restaurants, Pizza
428467  Vegetarian, Vegan, Restaurants, Pizza
428500  Vegetarian, Vegan, Restaurants, Pizza
432824  Vegetarian, Vegan, Restaurants, Pizza
443280  Vegetarian, Vegan, Restaurants, Pizza
433671  Vegetarian, Vegan, Restaurants, Pizza
391190  Vegetarian, Vegan, Restaurants, Pizza
433754  Vegetarian, Vegan, Restaurants, Pizza
434912  Vegetarian, Vegan, Restaurants, Pizza
426684  Vegetarian, Vegan, Restaurants, Pizza
441089  Vegetarian, Vegan, Restaurants, Pizza
453299  Vegetarian, Vegan, Restaurants, Pizza
435040  Vegetarian, Vegan, Restaurants, Pizza